.logo-span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 108px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.one {
  color:  var(--azure);
  transform: translate(-50%, -87.5%);
  -moz-transform: translate(-50%, -87.5%);
  -ms-transform: translate(-50%, -87.5%);
  -o-transform: translate(-50%, -87.5%);
  -webkit-transform: translate(-50%, -87.5%);
  text-shadow: 0 0 var(--shadow-width) var(--azure-plus);
  backdrop-filter: drop-shadow(0 0 var(--shadow-width) var(--azure-plus));
}

.two {
  color:  var(--gold);
  transform: translate(-50%, -12.5%) rotate(180deg);
  -moz-transform: translate(-50%, -12.5%) rotate(180deg);
  -ms-transform: translate(-50%, -12.5%) rotate(180deg);
  -o-transform: translate(-50%, -12.5%) rotate(180deg);
  -webkit-transform: translate(-50%, -12.5%) rotate(180deg);
  text-shadow: 0 0 var(--shadow-width) var(--gold-plus);
  backdrop-filter: drop-shadow(0 0 var(--shadow-width) var(--gold-plus));
}

.one svg {
  stroke: var(--azure);
  filter: url(#shadow1);
  -webkit-filter: url(#shadow1);
}

.two svg {
  stroke: var(--gold);
  filter: url(#shadow2);
  -webkit-filter: url(#shadow2);
}

.logo-letter.v { letter-spacing: -0.28ch; }
.logo-letter.a { letter-spacing: -0.05ch; }
.logo-letter.d { letter-spacing: -0.22ch; }
.logo-letter.i { letter-spacing: -0.075ch; }
.logo-letter.m { letter-spacing: 0.025ch; }
.logo-letter.w { letter-spacing: -0.05ch; }
.logo-letter.e { letter-spacing: -0.075ch; }
.logo-letter.b { letter-spacing: 0; }

.logo-image {
  height: 126px;
  width: 126px;
  stroke-width: max(0.25vmin, 8px);
}

:root {
  font-family: "Victor Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;

  --azure: #fff;
  --azure-plus: #0056b9;
  --gold: #000;
  --gold-plus: #ffd800;
  --shadow-width: 50px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  margin: 0;
  border: 1rem solid white;

  /* linkedin 1584 x 396 px	4:1 */
  width: calc(1584px + 2rem);
  height: calc(396px + 2rem);
  /* facebook 820 x 312 px */
  width: calc(820px + 2rem);
  height: calc(312px + 2rem);
  /* github 1280 x 640 px */
  width: calc(1280px + 2rem);
  height: calc(640px + 2rem);
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./flag.jpg');
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

pre:first-of-type {
  background: linear-gradient(-45deg, #FFDDC1, #FFABAB, #FFC3A0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
pre:nth-of-type(2) {
  background: linear-gradient(-45deg, #4A90E2, #50E3C2, #B8E986);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
pre:last-of-type {
  background: linear-gradient(-45deg, #F39C12, #E74C3C, #8E44AD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

pre {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.375rem;
  font-weight: bold;
  overflow: hidden;
  margin: 0;
  position: relative;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

pre::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: rgba(59, 47, 79, 0.75);
  width: 100%;
  height: 100%;
  z-index: -1;
}